BookLoanCA/src/jbiServiceUnits/BookLoan/BookLoanWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BookLoanWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/BookLoan/src/BookLoanWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/BookLoan/src/BookLoanWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="BookRequest">
        <part name="bookid" type="xsd:string"/>
        <part name="customerid" type="xsd:string"/>
    </message>
    <message name="BookResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <message name="HoldRequest">
        <part name="bookid" type="xsd:string"/>
        <part name="customerid" type="xsd:string"/>
    </message>
    <message name="HoldResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <message name="DeclineHoldRequest">
        <part name="bookid" type="xsd:string"/>
        <part name="customerid" type="xsd:string"/>
    </message>
    <message name="DeclineHoldResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <message name="OfferToHoldRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="BookLoanWSDLOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="BookLoanWSDLOperationRequest">
        <part name="bookid" type="xsd:string"/>
        <part name="customerid" type="xsd:string"/>
    </message>
    <message name="BookLoanWSDLOperationResponse1">
        <part name="result" type="xsd:string"/>
    </message>
    <portType name="BookLoanWSDLPortType">
        <operation name="Book">
            <input name="input1" message="tns:BookRequest"/>
            <output name="output1" message="tns:BookResponse"/>
        </operation>
        <operation name="Hold">
            <input name="input2" message="tns:HoldRequest"/>
            <output name="output2" message="tns:HoldResponse"/>
        </operation>
        <operation name="DeclineHold">
            <input name="input3" message="tns:DeclineHoldRequest"/>
            <output name="output3" message="tns:DeclineHoldResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="BookLoanWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="BookLoanWSDLPortTypeRole" portType="tns:BookLoanWSDLPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="bookid" type="xsd:string"/>
    <vprop:property name="customerid" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:bookid" messageType="tns:BookRequest" part="bookid"/>
    <vprop:propertyAlias propertyName="tns:customerid" messageType="tns:BookRequest" part="customerid"/>
    <vprop:propertyAlias propertyName="tns:bookid" messageType="tns:HoldRequest" part="bookid"/>
    <vprop:propertyAlias propertyName="tns:customerid" messageType="tns:HoldRequest" part="customerid"/>
    <vprop:propertyAlias propertyName="tns:bookid" messageType="tns:DeclineHoldRequest" part="bookid"/>
    <vprop:propertyAlias propertyName="tns:customerid" messageType="tns:DeclineHoldRequest" part="customerid"/>
</definitions>
