BookLoanCA/src/jbiasa/BookLoanCA.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="BookLoanCA"
             xmlns:tns="BookLoanCA" xmlns:ns="http://j2ee.netbeans.org/wsdl/BookLoan/src/BookLoanWSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://j2ee.netbeans.org/wsdl/BookLoan/src/BookLoanCallbackWSDL" xmlns:ns2="http://karelia.fi/edu/wsdl/BookStatus">
    <import namespace="http://j2ee.netbeans.org/wsdl/BookLoan/src/BookLoanWSDL" location="../jbiServiceUnits/BookLoan/BookLoanWSDL.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/BookLoan/src/BookLoanCallbackWSDL" location="../jbiServiceUnits/BookLoan/BookLoanCallbackWSDL.wsdl"/>
    <import namespace="http://karelia.fi/edu/wsdl/BookStatus" location="../jbiServiceUnits/BookLoan/BookStatus.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:BookLoanWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Book">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
        <operation name="Hold">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
        <operation name="DeclineHold">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:BookLoanCallbackWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="OfferToHold">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
        <operation name="HoldConfirmation">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
        <operation name="BookCancellation">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
        <operation name="CheckoutConfirmation">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:BookStatusPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetBookStatus">
            <soap:operation/>
            <input name="GetBookStatusInput">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="GetBookStatusOutput">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
        <operation name="UpdateBookStatus">
            <soap:operation/>
            <input name="UpdateBookStatusInput">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </input>
            <output name="UpdateBookStatusOutput">
                <soap:body use="literal" namespace="BookLoanCA"/>
            </output>
        </operation>
    </binding>
    <service name="BookLoanCAService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/BookLoanCAService1/casaPort1"/>
        </port>
    </service>
    <service name="BookLoanCAService2">
        <port name="casaPort2" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/BookLoanCAService2/casaPort2"/>
        </port>
    </service>
    <service name="BookLoanCAService3">
        <port name="casaPort3" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/BookLoanCAService3/casaPort3"/>
        </port>
    </service>
</definitions>
